@CHARSET "ISO-8859-1";

footer
{
	background-color:black;
	width:100%;
	bottom:0px;
	color:white;
	text-align:center;
	position:fixed;
	z-index:5;
}

#myNavbar
{
	/*  background: url(http://localhost:8080/watchco/resources/images/thnk1.jpg); */ 
font-size: 120%;
padding-top:15px; padding-bottom:5px; height:200px;
	 /* background-color: #000d33; */
	
}
body {
   background: url(http://localhost:8080/watchco/resources/images/Dark-wooden-website-background.jpg) no-repeat center center fixed; 
}
.navbar
{
	color:white;
}

.center
{
	margin: auto;
	width: 85%;
}